doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/base.css')
    link(rel='stylesheet', href='css/main.css')
  body
    include navbar.pug


    script(src='js/scr
    ipts.js')
