doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/main.css')
    body
        .header.text-center.ip {{ ip }}

        form#addProject
            .form-group
                laber(for="selectContainer") Project Name
                input.form-control(name="name",placeholder="Project name")
            .form-group
                laber(for="selectContainer") Local folder
                input.form-control(name="folder", type="file",  webkitdirectory)
            .form-group
                laber(for="selectContainer") Image
                select#selectContainer.form-control(v-on:change="onChange")
                    option(v-for="container in containers", v-bind:value="container.Id") {{ container.text || container.Image }}

        script(src='js/scripts.js')
        script.
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
